doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title
        meta(charset='utf-8')
        link(href='../Styles/main.css', rel='stylesheet')
        style.
            #today{
            border: 2px solid red;
            color:hotpink;
            width:100px;
            height:80px;
            display:inline;
            }
        script.
            window.onload = function () {
                //- for(var i=0;i<=11;i++){
                        //- document.getElementById("today").innerHTML += '2010年??月??日'; //'&nbsp;'
                //- }

                
            
                var date = new Date(), y = date.getFullYear(), m = date.getMonth();
                var firstDay = new Date(y, m, 1);
                var lastDay = new Date(y, m + 1, 0);
                console.log(lastDay);
                var today, someday, text;
                today = new Date();
                someday = new Date();
                someday.setFullYear(2100, 0, 14);
                var x = document.getElementById("sltYYYY");
                console.log(x.selectedIndex);
                var option;
                //= document.createElement("option");
                for (var i = 2010; i <= 2020; i++) {
                    option = window.document.createElement("option");
                    option.value = i;
                    // option.innerHTML = i + '';
                    option.text = i ;
                    if (today.getFullYear() == i) {
                        option.selected = true;
                    }
                    x.appendChild(option);
                }
                //getMonth()    Get the month (0-11)
                x = document.getElementById("sltMM");
                for (var i = 1; i <= 12; i++) {
                    option = window.document.createElement("option");
                    option.value = i ;
                    option.text = (i ) ;
                    if (today.getMonth()+1 == i) {
                        option.selected = true;
                    }
                //option.innerHTML = i;
                    x.appendChild(option);
                //x.add(option);
                }
                //getDate() A Number, from 1 to 31, representing the day of the month
                var YYYY = document.getElementById("sltYYYY").value;
                var MM = document.getElementById("sltMM").value;
                var dd = document.getElementById("sltdd").value;
                x = document.getElementById("sltdd");
                for (var i = 1; i <= lastDay.getDate() ; i++) {
                    option = window.document.createElement("option");
                    option.value = i;
                    option.text = i ;
                    if (today.getDate() == i) {
                        option.selected = true;
                    }
                    x.appendChild(option);
                }
                document.getElementById("today").innerText = YYYY + '年' + 
                ('0' + MM).slice(-2) + '月' + 
                ('0' + document.getElementById("sltdd").value).slice(-2)  + '日';
            }
            function changeFunc() {
                var selectBoxYYYY = document.getElementById("sltYYYY");
                var selectedValueYYYY = selectBoxYYYY.options[selectBoxYYYY.selectedIndex].value;
                //alert(selectedValueYYYY);
                var selectBoxMM = document.getElementById("sltMM");
                var selectedValueMM = selectBoxMM.options[selectBoxMM.selectedIndex].value;
                //alert(selectedValueMM);
                var selectBoxdd = document.getElementById("sltdd");
                var selectedValuedd = selectBoxdd.options[selectBoxdd.selectedIndex].value;
                //alert(selectedValuedd);

                //slice 擷取倒數第2 向右 到最後 的字, 
                //0+9  -> 09  > 09
                //0+25 -> 025 > 25
                document.getElementById("today").innerText = selectedValueYYYY + '年' + 
                ('0' + selectedValueMM).slice(-2) + '月' + 
                ('0' + selectedValuedd).slice(-2)  + '日';
            }
            function YYYMMreadddate() {
                var dd = document.getElementById("sltdd").value;
                var select = document.getElementById("sltdd");
                var length = select.options.length;
                for (var i = 0; i < length; i++) {
                    //select.options[i] = null;
                    //select.remove(i);
                    select.remove(0);
                }
                //- select.innerHTML="";

                var YYYY = document.getElementById("sltYYYY").value;
                var MM = document.getElementById("sltMM").value;
                //var dd = document.getElementById("sltdd").value;
                var lastDay = new Date(YYYY, MM , 0);
                var x = document.getElementById("sltdd");
                for (var i = 1; i <= lastDay.getDate() ; i++) {
                    option = window.document.createElement("option");
                    option.value = i;
                    option.text = i;
                    // if (lastDay.getDate() == i)            //換年月 會 跳到最後一天
                    if (i == dd ) {     //保留上一次日期
                        option.selected = true;
                    }

                    x.appendChild(option);
                }

                //但 10/31-> 11月 會跳到 11/01
                x = document.getElementById("sltdd");
                if(dd>=lastDay.getDate()){
                   x.options[x.options.length-1].selected = true;
                }
                changeFunc();
            }
    body
        #bgimage
            img
        #container
            ul.menu
                li
                    a(href='../index.html') 首頁
                li
                    a(href='../Lab01/Lab01.html') 單元一
                li
                    a(href='../Lab02/Lab02.html') 單元二
                li
                    a(href='../Lab03/Lab03.html') 單元三
                li
                    a(href='../Lab04/Lab04.html') 單元四
                li
                    a(href='Lab05.html') 單元五

                    // 每頁不同的內容從這裡開始
            article
                | Lab05
                .calendar
                    select#sltYYYY(onchange='YYYMMreadddate();')
                    label 年
                    select#sltMM(onchange='YYYMMreadddate();')
                    label 月
                    select#sltdd(onchange='changeFunc();')
                    label 日
                    #today

                    // 每頁不同的內容到這裡結束
            footer
                p
                    | e-amil:aaa@gmail.com   Tel:(02)2222-2222   台北市復興南路一段390號   © 2017 All Rights Reserved Quality Art Technology CO.